<%- include('partials/header') %>
 <!-- about section -->
 <article id="about">
  <h2>About</h2>
  <img class="aboutMe" src="assets/me_mountains.jpg" alt="picture of me sitting on some rocks in the mountains">
  <p>
    I started my cooking career in Vancouver at a sports restaurant.
    After realizing that I loved cooking. I attended a year long course at
    <abbr title="Vancouver Community Collage">VCC</abbr>, in which led me to the
    <abbr title="Vancouver Trade and Convention Center">VTCC</abbr>.
  </p>
  <p>
    Having completing collage and a short internship at the Trade and
    Convention Center, I found myself on the Rocky Mountaineer Train. Which
    I quite enjoyed traveling back and forth from Vancouver to Calgary or
    Jasper via Kamloops. Being on the Rocky Mountaineer was a lot of fun, but
    when an opportunity arose to head back to the Trade and Convention Center
    for the 2010 winter Olympics I took it.
  </p>
  <p>
    After the Olympics and having traveled on the Rocky Mountaineer.
    I decided I wanted to move out to the rockies and to see what living there
    would be like. I decided on Banff and moved there where I picked up a job
    working in a pub. But by winter I wanted to be working at one of the ski
    resorts and ended up at <abbr title="Sunshine Village Ski Resort">SSV</abbr> living on the mountain. Near the
    end of the
    season I wasn't sure what I was going to do and saw a job add for a cook
    position at <abbr title="Moraine Lake Lodge">MLL</abbr> and I took it.
  </p>
  <p>
    I spent 3 years bouncing from the ski hill in the winter to Moraine
    Lake in the summer. Living the life, experiencing the joy of freezing glacier
    fed h<sub>2</sub>o lakes in the summer and literally frozen h<sub>2</sub>0 in the winter.
  </p>
  <p>
    Beginning to realize I wasn't 20 anymore. I desided it was time for a career change and After
    having talked with a friend, looked into web development. Finding I quite enjoyed it after taking soem part time classes
    at SAIT, I desided to enroll in the full time program. 
    take  
  </p>
</article>
<%- include('partials/footer') %>